{% extends "base.html" %}
{% block head_title %} List of Genes {% endblock %}
{% block content %}

{% comment %}
<table border="3">
    <tr>                                                                                                       
    <th> Entrez ID</th>
    <th> Gene     </th>
    </tr>
    {% for gene in gene_list %}
    <tr><td>{{gene.entrezid}}</td><td><a href="{% url 'genes:detail' gene.entrezid %}">{{ gene }}</a></td></tr>
{% endfor %}
</table>

{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
    {% if page_obj.has_previous %}
        <a href="/genes?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="/genes?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}
{% endcomment %}
<div ng-app="gs_handler">
    <div ng-controller="GeneSearchController" class="row">
        <div class="span4">
            <form>
            <textarea name="genes" rows="15" cols="20" ng-model="genesToAdd.query" placeholder="Search genes by symbol or Entrez ID"></textarea
            <span class="error">{[{ errors.name }]}</span>
            <button class="btn btn-primary" ng-click="searchGenes()"> Search Genes <i class="icon-search icon-white"></i>
            </button>
            </form>
        </div>
        <div class="span8">	
            <h4>Gene Results</h4>
            <table class="table table-striped">
            <tr><th>Search Term</th><th>Found</th></tr>
            <tr ng-repeat="result in resultsForPage">
            <td>{[{ result.search }]}</td>
            <td><div class="btn-group">
            <button class="btn" ng-model="searchResults[result.search]" btn-radio="'None'">No Match</button>
            <button class="btn" ng-repeat="gene in result.found" ng-model="searchResults[result.search]" tooltip="{[{ gene.description }]}" btn-radio="'{[{ gene.pk }]}'">
            {[{ gene.systematic_name }]}</button>
            </div></td>
            </tr>			
            </table><br><br>
            <pager total-items="totalResults" page="currentPage" items-per-page="itemsPerPage"></pager>
            <br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}

           	
	
