{% extends "index.html" %}

{% block title %} Organism List {% endblock %}

{% block body %}
Hello, world. You're at the organisms index. <br><br>

{% if organism_tax_ids %}
    <ul>
    {% for organism in organism_tax_ids %}
        <li><a href ="{% url 'organisms:detail' organism.slug %}"> Tax id: {{organism.tax_id}} | Species Name: {{organism.species_name}} | Name: {{organism.name}}  </a></li><br>
    {% endfor %}
    </ul>
{% else %}
    <p> No organisms are available.</p>
{% endif %}


{% endblock %}
